:root {
  --spotify-green: #1DB954;
  --background: #292929;
}

.App {
  text-align: center;
}

#root {}

.bg-background {
  background-color: var(--background) !important;
}

.main-content {
  min-height: calc(100vh - 180px);
}

.search-bar {
  top: 82px;
  padding-top: 4px;
  background-color: var(--background);
}

.playlist-rec {
  max-width: 1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {

  background-color: var(--background);
  color: white;
}

h1 {
  color: var(#1DB954);
}

.text-spotify {
  color: var(--spotify-green);
}

img {
  border-radius: 5px;
}

button {
  border-radius: 999px;
  padding: 10px 20px;
  margin: 5px;
  border-color: transparent;
  background-color: #131313;
  color: white;

}

ul {
  list-style: none;
}

.search-btn {
  padding: unset;
  min-height: 50px;
  min-width: 50px;
  display: 'inline-flex';
  align-items: 'center';
  justify-content: 'center';
}

.switch {
  width: 120px;
}

.artista-cancion {
  color: rgb(218, 218, 218);
}

.track-content {
  max-width: 800px;
}

.bg-secondary {
  background-color: #565656 !important;
}

.song {
  width: 180px;
  height: 180px;
}

.bg-gradient-spotify {
  background: linear-gradient(to bottom right, var(--spotify-green), #066526 89%);
  /* Adjust colors */
}

.bg-success {
  background-color: var(--spotify-green) !important;
}

.bg-spotify {
  background-color: var(--spotify-green) !important;
}

.recommendation-btn {
  background-color: var(--spotify-green);
  color: black;
  font-weight: 600;
}

input {
  max-width: 700px;
  min-width: 150px;
  flex: '1';
  margin: 5px;
  border-radius: 999px;
  padding: 10px 20px;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}